.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
}

.banner h1 {
  margin: 0;
  color: rgba(229, 238, 103, 0.736);
  text-shadow: 1px 1px 3px rgba(211, 187, 114, 0.2);
  font-size: 48px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  opacity: .7;
  background: #d40f47;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-flat:hover {
  background: #c4040e;
  color: white;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4px;
}

.card-trip {
  height: 200px;
  width: 200px;
  margin: 6px;
  opacity: .7;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.title {
  margin: 8;
  color: rgba(229, 238, 103, 0.736);
  text-shadow: 1px 1px 3px rgba(211, 187, 114, 0.2);
  font-size: 24px;
  text-align: center;
  opacity: .7;
  padding: 20px;
  text-decoration: none;
  &:hover {
    color: rgba(229, 28, 28, 0.774);
    text-decoration: none;
    opacity: 1;
  }
}


.card-img {
  background-size: cover;
  height: 100%;
  width: 100%;
}
body {
  background-color: rgba(23, 75, 101, 0.846);
}
  .card-remove-link {
    color: rgb(147, 212, 19);
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    opacity: 0.8;
    font-weight: lighter;
    text-decoration: none;
    &:hover {
      color: rgba(229, 28, 28, 0.774);
      text-decoration: none;
      opacity: 1;
    }
  }

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
