.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: rgba(229, 238, 103, 0.736);
  text-shadow: 1px 1px 3px rgba(211, 187, 114, 0.2);
  font-size: 48px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.card-trip {
  height: 180px;
  width: 180px;
  display: inline-block;
  align-items: center;
  margin-bottom: 8px;
  background: rgb(58, 57, 57);
  opacity: .7;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}

.title {
  color: white;
  font-size: 16px;
  opacity: .7;
  margin: 0;
  text-decoration: none;
}

body {
  background-color: rgba(91, 28, 91, 0.846);
}
