.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.banner h1 {
  margin: 0;
  color: rgba(229, 238, 103, 0.736);
  text-shadow: 1px 1px 3px rgba(211, 187, 114, 0.2);
  font-size: 48px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  opacity: .7;
  background: #d40f47;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #c4040e;
  color: white;
}

.card-trip {
  height: 200px;
  width: 200px;
  margin: 8px;
  opacity: .7;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.title {
  margin: 8;
  color: rgba(229, 238, 103, 0.736);
  text-shadow: 1px 1px 3px rgba(211, 187, 114, 0.2);
  font-size: 24px;
  text-align: center;
  opacity: .7;
  text-decoration: none;
}

body {
  background-color: rgba(91, 28, 91, 0.846);
}

.card-img {
  background-size: cover;
  height: 100%
}
