
.card-pick {
  overflow: hidden;
  height: 200px;
  width: 300px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: block;
  align-items: center;
}

.card-pick img {
  object-position: scale-down;
  background-image: cover;
}

.card-pick h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 8px;
  text-shadow: 1px 1px 3px rgba(211, 187, 114, 0.2);
}

.card-pick p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  text-shadow: 1px 1px 3px rgba(211, 187, 114, 0.2);
}

.card-pick .card-pick-infos {
  padding: 16px;
}
